@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "primary": #20a4f3,
  "secondary": #223843,
  "success": #3ab795,
  "warning": #ffd97d,
  "info": #2ec4b6,
  "danger": #ff3366,
  "light": #bfc3ba
);

@import "../node_modules/bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
}

html {
  height: 92vh;
}

body {
  background: #ededed;
  overflow-x: hidden;
  height: 100%;
}

.App {
  height: 92vh;
}

.container {
  height: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.disabled {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

#sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8vh;
}
