.strike {
  text-decoration: line-through;
}

.editIcon {
  opacity: 0;
}

.editIcon:hover {
  opacity: 100;
}

.react-date-picker__wrapper {
  border: none;
}

.hidden {
  display: none;
}

.status-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 3px;
  min-height: 32px;
  cursor: pointer;
}

.status-options {
  position: absolute;
  top: 0;
  left: -10px;
  z-index: 999;
  padding: 10px 10px;
  padding-bottom: 0;
  background: #fff;
}

.status-option {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px 20px;
  text-align: center;
  margin: 5px 0;
  min-width: 130px;
  min-height: 34px;
}

.status {
  min-height: 38px;
}

.has-overlay {
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    min-height: 38px;

    &:hover {
      opacity: 1;
    };

    .hover-icon {
      right: 12px;
      top: 12px;
    };
  }
}